<nav>
    <div class="logo-hamburger-wrapper">
        <div class="logo">
            <a href="#">logo</a>
        </div>
        <div class="desktop-nav">
            <div class="desktop-nav-items">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Service</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </div> 
        </div>
        <div class="hamburger-button">
            <img src="assets/images/icon-hamburger.svg" alt="">
        </div>
    </div>
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Service</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>